{
    "apiKey": "AIzaSyDdk_axp2Q9OANqleknWeYWK9DrxKWKeY4", 
    "authDomain": "template-3530f.firebaseapp.com",
    "projectId": "template-3530f", 
    "storageBucket": "template-3530f.firebasestorage.app",
    "messagingSenderId": "891098188622",
    "appId": "1:891098188622:web:392c0121a17f1cd4402c1f"
}
